---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

<!--
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Welcome" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

  -->

<h1 class="post-list-heading">{{ page.list_title | default: "Welcome" }}</h1>

<body>

<p>I am a medical doctor currently reading for a PhD in AI enabled Healthcare Systems at University College London. I am interested in image classification models, as well as addressing the barriers to deploying AI in the clinical environment.</p> 

<p>I am also interested in medical education both to current students and the wider public. I have had several roles related to these interests, including panel membership of the <a href="https://www.ucl.ac.uk/medical-school/current-mbbs-students/qa-enhancement-unit/teaching-awards/excellence-medical-education-awards-2020">Excellence in Medical Education Awards</a>, interviewing for UCL medical school undergraduates, chair of my university's Education Society, and was Editor-in-Chief for <a
href="https://en.wikipedia.org/wiki/The_Medical_Student">The Medical Student</a> newspaper. In 2018, I was nominated for Teacher of the Year by the University of Oxford Clinical School. I am currently developing a YouTube channel that aims to teach adults about the workings of the human body.</p>

<p>I am an amateur photographer and pianist.</p>

</body>


</div>
